<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="style.css" />
    <title>jaBurns.net</title>
</head>
<body>
    
    <div id="header">
        <a class="leftitem" href="http://jaburns.net/">
            <img src="/logo.png" />
        </a>
        <a class="rightitem" href="http://www.youtube.com/jeremyaburns/">
            <img src="/youtube.png" />
        </a>
        <a class="rightitem" href="http://www.twitch.tv/cylon13/">
            <img src="/twitch.png" />
        </a>
    </div>

    <insert-content id="body" />
    
</body>
</html>